

  
<article class="col-md-12 text-center">
    
    <div class="form-signin " id="form-signin" ng-controller="register">

        <div class="form-container sign-in-container">
            <form name="form" class="form-sg" action="#">
                <h1 class="h1-sign-up">Đăng kí</h1>
                <div class="social-container">
                  <span>Dùng email</span>
                </div>
                <span>Hoặc tạo tài khoản của bạn</span>
                <input class="col-md-6" name="fullname" required ng-model="fullname" type="text" placeholder="Họ và tên" />
                <span ng-show="form.fullname.$invalid">Vui lòng nhập tên.</span>
                <label for=""></label>
                <input class="col-md-6" name="email" ng-model="email" type="email" placeholder="Email" />
                <span ng-show="form.email.$invalid">Vui lòng nhập email.</span>
                <label for=""></label>
                <input class="col-md-6" name="username" ng-model="username" type="text" placeholder="Username" />
                <span ng-show="form.username.$invalid">Vui lòng nhập tên đăng nhập.</span>
                <label for=""></label>
                <input class="col-md-6" name="password" ng-model="password" type="password" placeholder="Password" />
                <span ng-show="form.password.$invalid">Vui lòng nhập mật khẩu.</span>
                <label for=""></label>
                <input class="col-md-6" name="birthday" ng-model="birthday" type="date" placeholder="Ngày sinh" />
                <span ng-show="form.birthday.$invalid">Vui lòng nhập ngày sinh.</span>
                <div  >
                  <p >
                    <label for="">Giới tính
                    <input ng-model="gender" type="radio" class="form-check-input" name="gender" checked value="Nam"> Nam
                    <input ng-model="gender" type="radio" class="form-check-input" name="gender"  value="Nữ"> Nữ
                  </label>
                  </p>
                </div>
                <br>
                <button type="button" ng-click="postdata()" class="btn-sign-up">Đăng kí</button>
            </form>
    
        </div>
       
    </div>
 
   


</article>

<!-- <aside class="col-md-3" ng-controller="subjectCtrl">

  
  <div class="panel panel-default mt-4">
    <div class="panel-body">
      <form style="flex-direction: inherit; padding: 0;" class="form-inline">
        <input class="form-control col-sm-9" type="search" placeholder="Search" aria-label="Search">
        <button style="background: none!important;" class="btn" type="submit"><span
            class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <span class="glyphicon glyphicon-th-list"></span> <strong>Danh Mục</strong>
      </div>
      <ul id="collapse1" class="list-group panel-collapse collapse in" style="height: 0px;">
        <li class="list-group-item " ng-repeat="sub in list_subject">
          <a href="#thitracnghiem/{{sub.Id}}/{{sub.Name}}">{{sub.Name}}</a>
          <span class="label badge">12</span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <span class="glyphicon glyphicon-list-alt"></span> <strong>Tin Tuc</strong>
      </div>
      <ul id="collapse2" class="list-group panel-collapse collapse" style="height: 0px;">
        <li class="list-group-item ">Apple</li>
        <li class="list-group-item ">Asus</li>
        <li class="list-group-item ">Vivo</li>
        <li class="list-group-item ">Lenovo</li>
        <li class="list-group-item ">MSI</li>
        <li class="list-group-item ">HP</li>
      </ul>
    </div>

  </div>

</aside> -->

